<div class="container fill">
  <div class="row image-box align-items-center">
    <div class="image-box-content">
      <span class="image-box-header">{{ 'publication.title' | translate }}</span><br/>
      <span class="image-box-text">{{ 'publication.description' | translate }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>2018</h4>
      <hr/>
      <p>{{ 'publication.no_publications' | translate }}</p>
    </div>
  </div>
</div>
