@import '../../variables.scss';

span.round-tabs {
  background: #FFF;
  border-radius: 100px;
  display: inline-block;
  font-size: 25px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
  z-index: 2;
}

li {
  text-align: center;
}

span.round-tabs.green {
  border: 2px solid $light-gray;
  color: $green;
}

li.active span.round-tabs.green {
  background: #fff !important;
  border: 2px solid $green;
  color: $green;
}

span.round-tabs.yellow {
  border: 2px solid $light-gray;
  color: $yellow;
}

li.active span.round-tabs.yellow {
  background: #fff !important;
  border: 2px solid $yellow;
  color: $yellow;
}

span.round-tabs.blue {
  border: 2px solid $light-gray;
  color: $blue;
}

li.active span.round-tabs.blue {
  background: #fff !important;
  border: 2px solid $blue;
  color: $blue;
}

span.round-tabs.red {
  border: 2px solid $light-gray;
  color: $red;
}

li.active span.round-tabs.red {
  background: #fff !important;
  border: 2px solid $red;
  color: $red;
}

span.round-tabs.gray {
  border: 2px solid $light-gray;
  color: $gray;
}

li.active span.round-tabs.gray {
  background: #fff !important;
  border: 2px solid $gray;
  color: $gray;
}

.liner {
  background: $light-gray;
  height: 2px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 35px;
  width: 100%;
  z-index: 0;
}

.nav-tabs {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.btn-no-background {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.next-button {
  margin-left: 5px;
}

.source-button {
  background-color: $white;
  border: 1px solid $text-color;
  border-radius: 25px;
  margin: 5px;
  outline: none;
  text-align: center;
}

.source-buttons {
  margin-bottom: 10px;
  text-align: center;
}

.card-header {
  background-color: $collapse-header;
  border-radius: 10px;
  color: $white;
}

.card {
  border-radius: 10px;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  overflow: auto;
  padding: 20px;
}

.modal-dialog {
  margin-top: 30%;
}

.modal-body img {
  border: 1px $header-gray solid;
}

.modal-body img:hover {
  border: 1px $primary solid;
}

.modal-header {
  margin: 0 auto;
}

#selected-source-image {
  margin-bottom: 10px;
}

.source-button:hover, .selected-button {
  color: $primary;
}

#myCanvas {
  width: 80%;
}

.card h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.padding-10 {
  padding: 10px;
}
