<ng-template #imagemodal let-modal>
  <div class="modal-header">
    <span class="modal-title modal-basic-title">{{ 'wizard.modal.image.title' | translate }}</span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="row d-flex align-items-center h-100">
      <div *ngFor="let image of images; let i = index" class="col-4">
        <img class="img-fluid img-thumbnail" src="{{image.url}}" alt="" (click)="selectImage(i); modal.close('Save click')">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
  </div>
</ng-template>

<ng-template #imagesmodal let-modal>
  <div class="modal-header">
    <span class="modal-title modal-basic-title">{{ 'wizard.modal.images.title' | translate }}</span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="row d-flex align-items-center h-100">
      <div *ngFor="let imageCollection of imageCollections; let i = index" class="offset-4 col-4">
        <img class="img-fluid img-thumbnail" src="{{imageCollection.coverImage}}" alt="" (click)="selectImageCollection(i); modal.close('Save click')"><br/>
        {{'wizard.modal.images.' + imageCollection.name | translate}}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
  </div>
</ng-template>

<ng-template #textmodal let-modal>
  <div class="modal-header">
    <span class="modal-title modal-basic-title">{{ 'wizard.modal.text.title' | translate }}</span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ 'dummy.not_yet_implemented' | translate }}
  </div>
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
  </div>
</ng-template>

<div class="container">
  <div class="row">

    <div class="wizard-container col-12">
      <div class="wizard-progress offset-2 col-8 d-none d-lg-block">
        <div class="liner"></div>
        <ul class="nav nav-tabs">
            <li class="col-2 offset-md-1" [ngClass]="{'active': step === 'home'}">
              <button class="btn btn-no-background" (click)="setShow('home')" [disabled]="homeDisabled">
                <span class="round-tabs green"><i class="fa fa-home"></i></span>
              </button>
            </li>
            <li class="col-2" [ngClass]="{'active': step === 'conditions'}">
              <button class="btn btn-no-background" (click)="setShow('conditions')" [disabled]="conditionsDisabled">
                <span class="round-tabs blue"><i class="fa fa-columns"></i></span>
              </button>
            </li>
            <li class="col-2" [ngClass]="{'active': step === 'source'}">
              <button class="btn btn-no-background" (click)="setShow('source')" [disabled]="sourceDisabled">
                <span class="round-tabs yellow"><i class="fa fa-archive"></i></span>
              </button>
            </li>
            <li class="col-2" [ngClass]="{'active': step === 'settings'}">
              <button class="btn btn-no-background" (click)="setShow('settings')" [disabled]="settingsDisabled">
                <span class="round-tabs red"><i class="fa fa-cogs"></i></span>
              </button>
            </li>
            <li class="col-2" [ngClass]="{'active': step === 'done'}">
              <button class="btn btn-no-background" (click)="setShow('done')" [disabled]="doneDisabled">
                <span class="round-tabs gray"><i class="fa fa-check"></i></span>
              </button>
            </li>
        </ul>
      </div>

      <div class="wizard-content offset-md-2 col-md-8">
        <div class="wizard-step" id="home" *ngIf="step === 'home'">
          <h3 class="head text-center">{{ 'wizard.title' | translate }}</h3>
          <p class="narrow text-center">
            {{ 'wizard.title' | translate }}
          </p>
          <p class="narrow text-center">
            <button class="btn btn-success btn-lg" (click)="setShow('conditions')">{{ 'wizard.start' | translate }}</button>
          </p>
        </div>
        <div class="wizard-step" id="conditions" *ngIf="step === 'conditions'">
          <h3 class="text-center">{{ 'wizard.step_one.title' | translate }}</h3>
          <p class="text-center">
            {{ 'wizard.step_one.description' | translate }}
          </p>
          <div class="source-buttons">
            <button class="source-button btn btn-large" (click)="selectTarget('objects')" [ngClass]="{'selected-button': selectedTarget == 'objects'}"><i class="fa fa-address-card"></i> {{ 'wizard.target.identify_objects' | translate }}</button>
            <button class="source-button btn btn-large" (click)="selectTarget('misspelled')" [ngClass]="{'selected-button': selectedTarget == 'misspelled'}"><i class="fa fa-exclamation"></i> {{ 'wizard.target.find_misspelled_words' | translate }}</button>
          </div>
          <p class="narrow text-center">
            <button class="btn btn-secondary btn-lg previous-button" (click)="setShow('home')"><i class="fa fa-angle-left"></i> {{ 'wizard.prev' | translate }}</button>
            <button class="btn btn-success btn-lg next-button" (click)="setShow('source')" [disabled]="selectedTarget == null">{{ 'wizard.next' | translate }} <i class="fa fa-angle-right"></i></button>
          </p>
        </div>
        <div class="wizard-step" id="source" *ngIf="step === 'source'">
          <h3 class="text-center">{{ 'wizard.step_two.title' | translate }}</h3>
          <p class="text-center">
            {{ 'wizard.step_two.description' | translate }}
          </p>
          <div class="source-buttons">
            <button class="source-button btn btn-large" (click)="selectSource('image')" [ngClass]="{'selected-button': selectedSource == 'image'}" *ngIf="selectedTarget == 'objects'"><i class="fa fa-camera"></i> {{ 'wizard.source.image' | translate }}</button>
            <button class="source-button btn btn-large" (click)="selectSource('images')" [ngClass]="{'selected-button': selectedSource == 'images'}" *ngIf="selectedTarget == 'objects'"><i class="fa fa-images"></i> {{ 'wizard.source.images' | translate }}</button>
            <button class="source-button btn btn-large" (click)="selectSource('text-file')" [ngClass]="{'selected-button': selectedSource == 'text-file'}" *ngIf="selectedTarget == 'misspelled'"><i class="fa fa-file"></i> {{ 'wizard.source.textfile' | translate }}</button>
          </div>
          <div id="selected-source-image" class="text-center" *ngIf="selectedImage != null || selectedImageCollection != null">
            <img class="img-fluid img-thumbnail" src="{{selectedImage.url}}" alt="" height="200" *ngIf="selectedImage != null" />
            <img class="img-fluid img-thumbnail" src="{{selectedImageCollection.coverImage}}" alt="" height="200" *ngIf="selectedImageCollection != null" />
          </div>

          <p class="narrow text-center">
            <button class="btn btn-secondary btn-lg previous-button" (click)="setShow('conditions')"><i class="fa fa-angle-left"></i> {{ 'wizard.prev' | translate }}</button>
            <button class="btn btn-success btn-lg next-button" (click)="setShow('settings')" [disabled]="!allowNextOnSource()">{{ 'wizard.next' | translate }} <i class="fa fa-angle-right"></i></button>
          </p>
        </div>
        <div class="wizard-step" id="settings" *ngIf="step === 'settings'">
          <h3 class="text-center">{{ 'wizard.step_three.title' | translate }}</h3>
          <p class="text-center">
            {{ 'wizard.step_three.description' | translate }}
          </p>
          <div class="source-buttons">
            <button class="source-button btn btn-large" (click)="selectFilter('people')" [ngClass]="{'selected-button': selectedFilter == 'people'}" *ngIf="selectedSource == 'images'"><i class="fa fa-users"></i> {{ 'wizard.filter.people' | translate }}</button>
            <button class="source-button btn btn-large" (click)="selectFilter('animals')" [ngClass]="{'selected-button': selectedFilter == 'animals'}" *ngIf="selectedSource == 'images'"><i class="fa fa-paw"></i> {{ 'wizard.filter.animals' | translate }}</button>
          </div>
          <p class="narrow text-center">
            <button class="btn btn-secondary btn-lg previous-button" (click)="setShow('conditions')"><i class="fa fa-angle-left"></i> {{ 'wizard.prev' | translate }}</button>
            <button class="btn btn-success btn-lg next-button" (click)="setShow('done'); setShowResults(true);" [disabled]="!allowNextOnFilter()">{{ 'wizard.next' | translate }} <i class="fa fa-angle-right"></i></button>
          </p>
        </div>
        <div class="wizard-step" id="done" *ngIf="step === 'done'">
          <h3 class="text-center">{{ 'wizard.done.title' | translate }}</h3>
          <p class="text-center">
            {{ 'wizard.done.description' | translate }}
          </p>
          <p class="narrow text-center">
            <button class="btn btn-success btn-lg" (click)="setShow('home'); reset();">{{ 'wizard.again' | translate }}</button>
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

  </div>
</div>

<div class="container" *ngIf="showResults">
  <div class="row">

    <div class="col-sm-12">
      <div id="accordion">

        <div class="card">
          <div class="card-header" (click)="toggleShowCollapseOne()">
            {{ 'wizard.result.technical.title' | translate }}
          </div>
          <div id="collapseOne" class="collapse" [ngClass]="{'show': showCollapseOne}">
            <div class="card-body">
              <div class="text-center">
                {{ 'wizard.pretty_printing' | translate }} {{ (prettyMessages ? 'wizard.on' : 'wizard.off') | translate }}<br />
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="prettyMessages">
                  <span class="slider round"></span>
                </label>
              </div>
              <hr />
              <div *ngIf="!prettyMessages">
                <div *ngFor="let message of messages">
                  <h4>{{ (message.isRequest() ? 'wizard.result.technical.request' :'wizard.result.technical.response') | translate }}</h4>
                  <pre>
                      <code>{{message.message}}</code>
                  </pre>
                </div>
              </div>
              <div *ngIf="prettyMessages">
                <div *ngFor="let message of messages" class="col-md-4 padding-10" [ngClass]="{'alert-success': message.isRequest(), 'alert-danger offset-md-8': !message.isRequest()}">
                  <h4>{{ (message.isRequest() ? 'wizard.result.technical.request' :'wizard.result.technical.response') | translate }}</h4>
                  <div *ngIf="message.isQueryText()">{{ message.getQueryTextPretty() }}</div>
                  <div *ngIf="message.isResponse() ">{{ message.getResponsePretty(selectedTarget, selectedSource) }}</div>
                  <div *ngIf="message.isStart() ">{{ message.getStartPretty() }}</div>
                  <div *ngIf="message.isStop() ">{{ message.getStopPretty() }}</div>
                  <div *ngIf="message.isInput() " [innerHTML]="message.getInputPretty()"></div>
                  <div *ngIf="message.isSubscribe() ">{{ message.getSubscribePretty() }}</div>
                  <div *ngIf="message.isUnsubscribe() ">{{ message.getUnsubscribePretty() }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" (click)="toggleShowCollapseTwo()">
            {{ 'wizard.result.cool.title' | translate }}
          </div>
          <div id="collapseTwo" class="collapse" [ngClass]="{'show': showCollapseTwo}">
            <div class="card-body text-center">
              <canvas #myCanvas id="myCanvas" [width]="selectedImage.width" [height]="canvasHeight" *ngIf="selectedSource == 'image'"></canvas>

              <div *ngIf="selectedSource == 'images'">
                <hr />
                <h3>{{ 'wizard.result.wanted' | translate }} {{ 'wizard.result.' + selectedFilter | translate }}</h3>
                <div class="row">
                  <div *ngFor="let image of wantedImages; let i = index" class="col-4">
                    <img class="img-fluid img-thumbnail" src="{{image.url}}" alt="">
                  </div>
                </div>
                <hr />
                <h3>{{ 'wizard.result.notwanted' | translate }} {{ 'wizard.result.' + selectedFilter | translate }}</h3>
                <div class="row">
                  <div *ngFor="let image of notWantedImages; let i = index" class="col-4">
                    <img class="img-fluid img-thumbnail" src="{{image.url}}" alt="">
                  </div>
                </div>
                <hr />
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" (click)="toggleShowCollapseThree()">
            {{ 'wizard.result.what.title' | translate }}
          </div>
          <div id="collapseThree" class="collapse" [ngClass]="{'show': showCollapseThree}">
            <div class="card-body">
              {{ 'dummy.lorem' | translate }}
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
