<div class="container fill">
  <div class="row image-box align-items-center">
    <div class="image-box-content">
      <span class="image-box-header">{{ 'about.title' | translate }}</span><br/>
      <span class="image-box-text">{{ 'about.description' | translate }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>{{ 'dummy.title' | translate }}</h4>
      <p>{{ 'dummy.description' | translate }}</p>
    </div>
  </div>
  <hr/>
  <div id="meet-the-team" class="row text-center">
    <div class="col-12">
      <h3>{{ 'about.meet_the_team.title' | translate }}</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="team-member col-md-4 offset-md-2">
      <div class="card">
        <div class="container">
          <img src="assets/tuomas.jpeg" alt="Tuomas" class="img-fluid">
          <h4>Tuomas Palenius</h4>
          <p class="title">{{ 'about.meet_the_team.tuomas.title' | translate }}</p>
          <p>{{ 'about.meet_the_team.tuomas.description' | translate }}</p>
          <p>
            <a href="https://www.linkedin.com/in/tuomas-palenius-65114614/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
            <a href="mailto:tuomas.palenius@gmail.com"><i class="fa fa-envelope-square"></i></a>
          </p>
        </div>
      </div>
    </div>

    <div class="team-member col-md-4">
      <div class="card">
        <div class="container">
          <img src="assets/lauri.jpg" alt="Lauri" class="img-fluid">
          <h4>Lauri Mukkala</h4>
          <p class="title">{{ 'about.meet_the_team.lauri.title' | translate }}</p>
          <p>{{ 'about.meet_the_team.lauri.description' | translate }}</p>
          <p>
            <a href="https://www.linkedin.com/in/laurimukkala/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
            <a href="mailto:lauri.mukkala@outlook.com"><i class="fa fa-envelope-square"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
