@import '../../variables.scss';

.image-box {
  background: url('../../assets/about.jpg') no-repeat center;
  background-size: cover;
}

.card {
  border: 0;
  background-color: $alice-blue;

  img {
    border-radius: 10px;
  }
}

i {
  font-size: 50px;
  margin-right: 5px;
}

#meet-the-team {
  margin-top: 20px;
}

h4 {
  margin-top: 10px;
}

.team-member {
  margin-bottom: 10px;
}

