@import '../variables.scss';

.navbar-brand
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: larger;
}

#topNav {
  font-size: 1.2em;
  height: 80px;
}

.page-footer a {
  color: $text-color;
  text-decoration: underline;
}

.language-buttons {
  margin-right: 10px;
  padding-right: .5rem;
  padding-left: .5rem;
}

.language-button {
  margin-top: -3px;
  margin-right: 5px;
}

.language-button:hover {
  border: 1px solid $primary;
}

.loader-text {
  font-size: 20px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .navbar-nav li {
    margin-left: 20px;
  }

  .navbar-collapse {
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 25px;
  }

  .navbar-toggler {
    margin-left: -10px;
    outline: none;
  }

  .language-buttons {
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .loader-text {
    visibility: hidden;
  }
}
