<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#fff" type = "timer"><p class="loader-text">{{ 'loader.wait' | translate }}</p></ngx-spinner>
<nav id="topNav" class="navbar fixed-to navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-brand mx-auto">
    Neural
    <a (click)="collapseNav()" [routerLink]="['home']"><img src="assets/logo.png" alt="Logo" height="64"/></a>
    Server
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="collapse" (click)="navbarCollapsed = !navbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse bg-dark" [ngbCollapse]="navbarCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" (click)="collapseNav()" [routerLink]="['home']">{{ 'nav.home' | translate }}</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" (click)="collapseNav()" [routerLink]="['about']">{{ 'nav.about' | translate }}</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" (click)="collapseNav()" [routerLink]="['publication']">{{ 'nav.publications' | translate }}</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto align-items-md-center">
      <li class="nav-item d-none d-md-block">
        <a class="nav-link" (click)="collapseNav()" href="http://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
      </li>
      <li class="nav-item d-none d-md-block">
        <a class="nav-link" (click)="collapseNav()" href="http://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
      </li>
      <li class="nav-item d-none d-md-block">
        <a class="nav-link" (click)="collapseNav()" href="http://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" (click)="collapseNav()" [routerLink]="['contact']">{{ 'nav.contact' | translate }}</a>
      </li>
      <li class="nav-item d-block d-md-block language-buttons">
        <span class="">
          <img class="language-button" src="assets/finnish.png" height="16" (click)="changeLanguage('fi'); collapseNav();" />&nbsp;<img class="language-button" src="assets/english.jpeg" height="16" (click)="changeLanguage('en'); collapseNav();" />
        </span>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="page-footer font-small">
  <div class="footer-copyright text-center py-3">
    © 2018 Copyright: <a href="https://google.fi"> neuralserver.ai</a>
  </div>
</footer>
