@import url('https://fonts.googleapis.com/icon?family=Roboto');
@import 'variables.scss';

html,body {
  background-color:$light-slate-gray!important;
  font-family:Roboto, serif;
  height:100%;
  min-height:100%;
}

.container {
  background-color:$alice-blue;
  border-radius:25px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 20px 0 rgba(0,0,0,0.19);
  margin-top:10px;
  padding:20px;
}

h5 a {
  color:$text-color;
  text-decoration:underline;
}

main {
  min-height:650px;
  padding-top:20px;
}

.image-box {
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  height:300px;
  margin-bottom:20px;
  margin-top:-20px;
  padding-top:-20px;
}

.image-box-content {
  background:rgba(204,204,204,0.85);
  border-radius:25px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color:$text-color;
  font-size:.9rem;
  margin-left:20px;
  margin-right:20px;
  max-width:500px;
  min-height:100px;
  padding:20px;
}

.image-box-header {
  font-size:1.4rem;
}

.image-box-text {
  margin-top:10px;
}

.navbar-toggler {
  margin-left:10px;
}

.facebook {
  color:$facebook-color;
}

.twitter {
  color:$twitter-color;
}

.fill {
  min-height:80%;
}
