$green: #22c222;
$yellow: #febe29;
$blue: #3e5e9a;
$red: #f1685e;
$gray: #999;
$light-gray: #ddd;
$alice-blue: #f0f8ff;
$black: #000000;
$light-slate-gray: #778899;
$white: #ffffff;
$text-color: #212529;
$header-gray: #343a40;
$collapse-header: #007BA6;
$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$primary: #007bff;
