<div class="container fill">

  <div class="row image-box align-items-center">
    <div class="image-box-content">
      <span class="image-box-header">{{ 'home.title' | translate }}</span><br/>
      <span class="image-box-text">{{ 'home.description' | translate }}</span>
    </div>
  </div>

  <wizard></wizard>

</div>
