@import '../../variables.scss';

.image-box {
  background: url('../../assets/contact.jpg') no-repeat center;
  background-size: cover;
}

.contact-links {
  font-size: 50px;
}

.contact-link {
  margin-left: 5px;
  margin-right: 5px;
}
