<div class="container fill">
  <div class="row image-box align-items-center">
    <div class="image-box-content">
      <span class="image-box-header">{{ 'contact.title' | translate }}</span><br/>
      <span class="image-box-text">{{ 'contact.description' | translate }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      {{ 'contact.social_media' | translate }}
    </div>
    <div class="col-md-12 text-center contact-links">
      <a class="contact-link facebook" href="http://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
      <a class="contact-link twitter" href="http://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
      <a class="contact-link linkedin" href="http://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <form id="contact-form" (ngSubmit)="onSubmit()" #contactForm="ngForm">
        <div class="messages">
          <div class="alert alert-success" role="alert" *ngIf="submitted">
            {{ 'contact.successfully_sent' | translate }}
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
          </div>
        </div>
        <div class="controls col-md-8 offset-md-2">
          <h3>{{ 'contact.form_title' | translate }}</h3>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="form_name">{{ 'contact.firstname' | translate }} *</label>
                <input id="form_name" type="text" [(ngModel)]="model.firstname" name="firstname" class="form-control" placeholder="{{ 'contact.please.firstname' | translate }} *" required="required" data-error="Firstname is required.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="form_lastname">{{ 'contact.lastname' | translate }} *</label>
                <input id="form_lastname" type="text" [(ngModel)]="model.lastname" name="lastname" class="form-control" placeholder="{{ 'contact.please.lastname' | translate }} *" required="required" data-error="Lastname is required.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="form_email">{{ 'contact.email' | translate }} *</label>
                <input id="form_email" type="email" [(ngModel)]="model.email" name="email" class="form-control" placeholder="{{ 'contact.please.email' | translate }} *" required="required" data-error="Valid email is required.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="form_need">{{ 'contact.need' | translate }} *</label>
                <select id="form_need" [(ngModel)]="model.need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                  <option value=""></option>
                  <option value="Question">{{ 'contact.need.question' | translate }}</option>
                  <option value="Comment">{{ 'contact.need.comment' | translate }}</option>
                  <option value="Request for quotation">{{ 'contact.need.quatation' | translate }}</option>
                  <option value="Other">{{ 'contact.need.other' | translate }}</option>
                </select>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="form_message">{{ 'contact.message' | translate }} *</label>
                <textarea id="form_message" [(ngModel)]="model.message" name="message" class="form-control" placeholder="{{ 'contact.placeholder.message' | translate }} *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-success" [disabled]="!contactForm.form.valid">{{ 'contact.submit' | translate }}</button>
              <button type="button" class="btn btn-default" (click)="reset(); contactForm.reset()">{{ 'contact.reset' | translate }}</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-muted">
                <strong>*</strong> {{ 'contact.required' | translate }}
              </p>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
